body {
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MyriadPro-Cond.eot');
	src: url('../fonts/MyriadPro-Cond.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MyriadPro-Cond.woff') format('woff'),
	url('../fonts/MyriadPro-Cond.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/HelveticaNeue.eot');
	src: url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeue.woff') format('woff'),
	url('../fonts/HelveticaNeue.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova - Semibold';
	src: url('../fonts/ProximaNova-Semibold.eot');
	src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ProximaNova-Semibold.woff') format('woff'),
	url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/ProximaNova-Bold.eot');
	src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ProximaNova-Bold.woff') format('woff'),
	url('../fonts/ProximaNova-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}


@import 'header';
@import 'main';